# Web Framework
flask==3.0.0
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
Flask-WTF>=1.2.0
flask-mysqldb==2.0.0
WTForms

# Database
sqlalchemy==2.0.23
mysqlclient==2.2.4
pymysql==1.1.0

# File Handling
python-multipart==0.0.6

# Form email validation
email-validator

# Security & Utilities
bcrypt==4.1.2
python-dotenv==1.0.0
requests==2.31.0
markdown

# AI/ML & LLM Integration
langchain==0.1.0
langchain-community==0.0.10
langchain-groq
langchain-core
pydantic

# Graph generation
plotly==5.20.0
pandas
gunicorn